link(href="../../bower_compontents/bootstrap/dist/css/bootstrap.min.css",rel='styleSheet')
script(src="../../bower_compontents/jquery/dist/jquery.min.js")
script(src="../../bootstrap/dist/js/bootstrap.min.js")



